<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <base href="/">
        <title>多旅行商问题决策系统</title>
        <link rel="stylesheet" type="text/css" href="../static/CSS/home_navbar.css?v=1.0">
        <link rel="stylesheet" type="text/css" href="../static/CSS/load_cities.css">
    </head>
    <body>
    <!-- 顶部导航栏 -->
	<div class="navbar">
	    <ul class="navlist">
			<li><a href="/home" id="MTSP" class="hanz">多旅行商问题决策系统</a></li>
            <li><a href="/home/mtsp" id="create_mtsp" class="hanz">创建决策</a></li>
            <li><a href="/home/load_cities" id="upload_cities" class="hanz">上传城市信息</a></li>
            <li><a href="/home/show_result" id="show_result" class="hanz">显示结果</a></li>
            <li><a href="/home/history" id="history" class="hanz">历史记录</a></li>
			<li><a href="/home/self" id="self" class="hanz">个人中心</a></li>
            <li><a href="http://localhost:8000/" id="logout" class="hanz">注销</a></li>
		</ul>
	</div>
    <!-- 接收城市信息 -->
    <div class="upload_cities">
        <h id="upload_title">上传城市信息</h>
        <form enctype="multipart/form-data" method="post" id="upload">
            <div id="upload_text"><h>请选择上传的城市信息文件：</h></div>
            {% csrf_token %}
            <div id="city_file_input"><input type="file" required="required" name="city_file" autocomplete="off"></div>
            <div id="upload_button"><button type="submit" class="button">提交</button></div>
        </form>
    </div>
    </body>
</html>