<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" comtent="ie=edge">
	<meta name="renderer" content="webkit">
	<title>多旅行商问题决策系统</title>
	<link rel="stylesheet" type="text/css" href="../static/CSS/unlogged_homepage.css"/>
</head>
<body>
	<!-- 顶部导航栏 -->
	<div class="navbar">
		<ul class="navlist">
			<li><a href="" id="MTSP">多旅行商问题决策系统</a></li>
			<li><a href="/login" id="login" class="hanz">登录</a></li>
			<li><a href="/register" id="register" class="hanz">注册</a></li>
		</ul>
	</div>
	<!-- 左上格子 -->
	<div class="northwest">
		<img src="../static/Images/LOGO1.png" id="nwpic">
		<br>
		<span id="title1">处理多旅行商问题对应的实际问题</span>
		<span class="content">
			对应的实际应用问题可以转化成城市数为n、旅行商数为m的多旅行商问题，将n和m作为系统输入，完成计算。
		</span>
	</div>
	<!-- 右上格子 -->
	<div class="northeast">
		<img src="../static/Images/LOGO2.png" id="nepic">
		<br>
		<span id="title2">系统以NSGA-II为算法核心</span>
		<span class="content">
			作为对NSGA的优化，NSGA-II以快速非支配排序降低算法的计算复杂度，采用拥挤度算子，引入精英策略，提高了算法的运算速度和鲁棒性。
		</span>
	</div>
	<!-- 左下格子 -->
	<div class="southwest">
		<img src="../static/Images/LOGO3.png" id="swpic">
		<br>
		<span id="title3">结合系统筛选与人工筛选</span>
		<span class="content">
			用户可以根据系统筛选出来的较优方案和相应数据以自身需求为靶向筛选出最后方案。
		</span>
	</div>
	<!-- 右下格子 -->
	<div class="southeast">
		<img src="../static/Images/LOGO4.png" id="sepic">
		<br>
		<span id="title4">迭代过程和人工筛选数据可视化</span>
		<span class="content">
			利用web交互给出用户可视化的迭代过程和人工筛选所需数据图表。
		</span>
	</div>
</body>
</html>
