/* 导航栏 */

.navbar {
    background-image: url(../Images/navpic.png);
    background-size: 1700px;
    background-position: bottom;
    width: 100%;
    height: 150px;
    margin-top: -10px;
    margin-left: 0px;
    overflow: hidden;
}

ul {
    list-style: none;
    font-size: 25px
}

ul li a {
    text-decoration: none;
    margin-top: 60px;
}

.hanz {
    float: left;
    color: rgb(4, 13, 56);
    margin-left: 60px;
    letter-spacing: 3px;
}